/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@include mat.theme((
  color: mat.$violet-palette,
  typography: Roboto,
  density: 0
));
